<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Harvest of Hope - {% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/custom.css') }}"
    />
  </head>
  <body>
    <header class="flex flex-column">
      <nav class="flex flex-row">
        <div class="logo">
          <img
            class="h-28"
            src="{{ url_for('static', filename='img/logo_HoH.jpg') }}"
            alt="Harvest of Hope Logo"
          />
        </div>
        <ul class="flex flex-row">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li>
            <a href="{{ url_for('explore_charities') }}">Explore Charities</a>
          </li>
          <li><a href="{{ url_for('user_dashboard') }}">Dashboard</a></li>
          <li><a href="{{ url_for('feed') }}">Community Feed</a></li>
          <li><a href="{{ url_for('user_profile') }}">Profile</a></li>
        </ul>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>&copy; 2024 Harvest of Hope. All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
