{% extends "layout.html" %}

{% block title %}
Explore Charities
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center font-weight-bold mb-4">Explore Charities</h1>

    <div class="container">
        <div class="row mb-4">
            <form class="form-inline" method="post" style="width: 100%;">
                <!-- Search Input -->
                <div class="col  mb-2 mb-md-0">
                    <div class="input-group">
                        <input
                            type="text"
                            name="search"
                            class="form-control"
                            placeholder="Search charities..."
                            aria-label="Search charities"
                        >
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </div>
    
                <!-- Checkboxes -->
                 <h3 class="d-flex justify-content-center align-items-center ">Filter by Needs</h3>
                <div class="col d-flex justify-content-center align-items-center">

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="foodCheckbox" name="needs" value="Food">
                        <label class="form-check-label" for="foodCheckbox">Food</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="clothesCheckbox" name="needs" value="Clothes">
                        <label class="form-check-label" for="clothesCheckbox">Clothes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="educationCheckbox" name="needs" value="Education">
                        <label class="form-check-label" for="educationCheckbox">Education</label>
                    </div>
                </div>
    
                <!-- Dropdown for Needs -->
                <div class="col">
                    <select class="form-select" name="additionalNeeds" >
                        {% for need in needs_list %}
                        <option value="{{ need }}">{{ need }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
        {% for charity in charities %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ charity.imageLink }}" class="card-img-top" alt="{{ charity.title }} Logo" style="height: 200px; object-fit: cover;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ charity.title }}</h5>
                    <p class="card-text">{{ charity.get("summary"," ")[:100] }}...</p>
                    <div class="mt-auto">
                      <div class="row">
                      <a href="https://paystack.com/pay/harvest-of-hope" class="btn btn-success" >
                       Donate Now
                        </a>
                      </div>

                        <div class="row">
                        <a href="{{ url_for('investment_dashboard') }}" class="btn btn-primary col-6">
                            View Dashboard
                        </a>
                        <a href="https://www.google.com/maps/search/?api=1&query=charity+{{ charity.title | urlencode   }}+{{ charity.contactCity | urlencode   }}+{{ charity.contactAddress | urlencode   }}" class="btn btn-info col-6">
                          Get Directions
                      </a>
                      </div>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}