{% extends "layout.html" %}

{% block title %}
Dontor Application
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-3">Apply to Join Our Donation Program</h2>
    <p>Please fill out the form below to apply for our donation program. We welcome small organizations and charities that align with our mission.</p>

    <div class="row">
        <div class="col-md-6 mb-3">
            <img src="/static/images/logo/image6.png" class="img-fluid" alt="Logo">
        </div>
        <div class="col-md-6 mb-3">
            <img src="/static/images/gallery/apply_for_donation.jpg" class="img-fluid" alt="Donation Application">
        </div>
    </div>

    <form action="/submit_application" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="orgName" class="form-label">Organization Name:</label>
            <input type="text" class="form-control" id="orgName" name="name" required>
        </div>

        <div class="mb-3">
            <label for="Contact" class="form-label">Organization Contact Details:</label>
            <input type="text" class="form-control" id="Contact" name="Contact" required>
        </div>

        <div class="mb-3">
            <label for="missionStatement" class="form-label">Mission Statement:</label>
            <textarea class="form-control" id="missionStatement" name="description" rows="4" required></textarea>
        </div>

        <div class="mb-3">
            <label for="contactEmail" class="form-label">Contact Email:</label>
            <input type="email" class="form-control" id="contactEmail" name="contactEmail" required>
        </div>

        <div class="mb-3">
            <label for="IDDocument" class="form-label">Upload ID:</label>
            <input type="file" class="form-control" id="IDDocument" name="ID Document" accept=".pdf,.jpg,.jpeg,.png" required>
        </div>

        <div class="mb-3">
            <label for="certificates" class="form-label">Upload Certificates/Proof of Address:</label>
            <input type="file" class="form-control" id="certificates" name="certificates" accept=".pdf,.jpg,.jpeg,.png" required>
        </div>

        <div class="mb-3">
            <label for="logo" class="form-label">Upload Logo:</label>
            <input type="file" class="form-control" id="logo" name="logo" accept=".jpg,.jpeg,.png" required>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Organization Address:</label>
            <input type="text" class="form-control" id="location" name="location" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit Application</button>
    </form>
</div>
{% endblock %}